<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

</body>

<div class="upper-container container-fluid row">
    <div class="col-lg-4 col-md-6">
        <h1 class="title">Midnight Frappuccino</h1>
        <p class="title-description">The Midnight Mint Mocha Frappuccino features extra dark cocoa blended with
            Frappuccino
            Roast coffee.
        </p>

        <h3 class="price">$ 8.60</h3>
        <button class="buy btn btn-lg btn-dark">Buy Now</button>

    </div>

    <div class="col-lg-4 col-md-6">
        <img class="main-container-img" src="/static/images/coffee-cup-1.png" alt="">

    </div>

    <div class="coffee-beans-img-div">
        <img class="coffee-beans-img" src="/static/images/coffee-beans.png" alt="">
    </div>

    <!-- Right div -->

    <div class="item-list col-lg-4 col-md-6">
        <div class="items-1">
            <img class="item-img-1" src="/static/images/item-2.png" alt="">
            <h5 class="item-title-1">Sippy Cups</h5>
            <p class="description-1">Are the New Norm for iced coffee </p>
        </div>

        <div class="items-2">
            <img class="item-img-2" src="/static/images/item-1.png" alt="">
            <h5 class="item-title-2">Sippy Cups</h5>
            <p class="description-2">Are the New Norm for iced coffee </p>
        </div>

        <div class="items-3">
            <img class="item-img-3" src="/static/images/item-2.png" alt="">
            <h5 class="item-title-3">Sippy Cups</h5>
            <p class="description-3">Are the New Norm for iced coffee </p>
        </div>
    </div>


</div>

</html>